<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/home.css" type="text/css">
    <title> Document</title>
</head>
<body>
    <h1>Detail of the user</h1>
    <ul id="deta">
        <li>
            first 1
        </li>
        <li>
            first 2
        </li>
    </ul>
</body>
</html>