<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/home.css" type="text/css">
    
    <link rel="stylesheet" href="/css/sign_in.css" type="text/css">
    <link rel="stylesheet" href="/css/sign_up.css" type="text/css">
    <title>Document</title>
</head>
<body>
    
    <body id="layout-main">
        <ul>
            <li>user name: <%=user.name %></li>
            <li>Email Id: <%=user.email%></li>
        </ul>     

    </body>
</body>
</html>


