<div id="signUp">
    <h1>Sign Up </h1>
    <form action="/users/create" method="post">
        <input type="text" name="name" required placeholder="Enter your name">
        <input type="text" required placeholder="Enter you mail" name="mail">
        <input type="password" name="passwd" required placeholder="Enter your password">
        <input type="password" name="confmPasswd" required placeholder="Enter your confirm password">
        <input type="submit" value="sign-up">

    </form>
</div>