<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/sign_in.css" type="text/css">
    <title>Sign In</title>
</head>
<body>
    <div id="signIn">
        <h1>Sign In Page </h1>
        <form action="/users/createSession" method="post">
            <input type="email" required placeholder="Enter you mail" name="email">
            <input type="password" name="password" required placeholder="Enter your password">
            <input type="submit" value="Login">
    
        </form>
    </div>
</body>
</html>